@model IEnumerable<ProyectoWeb.Models.Encabezados>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaEncabezado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMedidor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoEncabezado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEncabezado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMedidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoEncabezado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
