@model ProyectoWeb.Models.Detalles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEncabezado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEncabezado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLectura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLectura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTarifa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTarifa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacturasPendientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacturasPendientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoDetalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoDetalle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
