@model ProyectoWeb.Models.Medidores

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medidores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoMedidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoMedidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoMedidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoMedidor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
